# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All Build Dir
**/build/
/build/

# Qt
*.pro.user*
*.user
*.pro.user.*
*.moc
*.qrc
.vs/
.vs2019/
*.vcxproj
*.vcxproj.user
*.suo

# .DS_Store
/.DS_Store
**/.DS_Store
